.consultations-page {
  .table-view {
    input {
      width: 320px;
    }

    button {
      cursor: pointer;
      font-size: 16px;
      color: blue;
      padding: 0;
      background: none;
      border: none;
    }
  }
}
